@import "compass/utilities";
@import "compass/css3";

$ui-margin: 0.5em;

@mixin display-flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1;
}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  @include display-flex(column);
  font-family: sans-serif;
  margin: 0;
}

main {
  @include display-flex();
  flex: 1;

  & > div.sidebar {
    @include display-flex(column);
    width: 15rem;

    & > div:first-child {
      flex: 1;
    }
  }

  & > div:last-child {
    @include display-flex(column);
    flex: 1;
  }

  nav {
    @include display-flex;
    z-index: 2;

    .nav-tabs {
      flex: 1;
      border: none;
    }
  }
}

#model {

  & > * {
    cursor: default;
    -webkit-user-select: none;
  }

  & > .item {
    display: block;
    padding: 0.25em 0;

    &.selected {
      color: #fefefe;
      background-color: #0077cc;
    }

    & > .icon {
      padding: 0.05em 0.5em 0;
    }
  }
}

#glView {
  flex: 1;
  overflow: hidden;
}

#timeline {
  height: 15rem;
}

#xml {
  @include display-flex(column);
  flex: 1;
  //padding: 1em 0 0 0 !important;
  padding: 0 !important;

  .toolbar {
    padding-top: $ui-margin;
    min-height: 34px;

    & > span {
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .CodeMirror {
    @include display-flex(column);
    flex: 1;
    border-top: 1px solid #ddd;
    height: auto;
    //border-radius: 4px;

    .CodeMirror-scroll {
      position: relative;
      flex: 1;
    }

    .CodeMirror-gutters {

    }
  }
}
